.apple-shelf{
    background: rgb(197, 64, 64);
    width: 400px;
    height: 30px;
    border-radius: 6px;
    margin: 0 auto;
    text-align: center
}

.orange-shelf{
    background:orange;
    width: 400px;
    height: 30px;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}