* {
  margin: 0;
  padding: 0;   
}

body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:green;
    color: white;
    /* width: 50%;
    margin: 0 auto; */
    text-align: center;
}

h1{
    color: goldenrod;
}

#message-el{
    
}

button{
    color: rgb(86, 81, 155);
    width: 150px;
    background: goldenrod;
    border: none;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    cursor: pointer;
    font-weight: bold;
}

.grand-titre{
    margin-top: 50px;
}